@{
    Layout = "_Layout";
}

<link href="~/js/dataTables.bootstrap4.css" rel="stylesheet" />

<div class="container">
    <table id="scanImages" class="ui celled table" width="100%">
        <thead>
            <tr>
                <th>SKU</th>
                <th>Serial Number</th>
                <th>Description</th>
                <th>Image</th>
                <th>Created On</th>
            </tr>
        </thead>
    </table>
</div>

<script language="JavaScript" type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script type="text/javascript" src="~/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="~/js/dataTables.bootstrap4.js" .></script>
<script type="text/javascript" src="~/js/dataTables.buttons.js"></script>
<script type="text/javascript" src="~/js/dataTables.responsive.js"></script>
<script>
    $(document).ready(function () {
        $('#scanImages').DataTable({
            processing: true,
            ordering: true,
            paging: true,
            searching: true,
            "ajax": {
                "url": '/Dashboard/GetScanImagesList',
                "type": "GET",
                "datatype": "json"
            },
            columns: [
                { "data": "sku", "name": "Sku", "autoWidth": true },
                { "data": "serialNumber", "name": "SerialNumber", "autoWidth": true },
                { "data": "description", "name": "Description", "autoWidth": true },
                {
                    render: function (data, type, row) {
                        return "<img width='30px' height='30px' src='/images/" + row.images + "'/>";
                    }
                },
                {
                    "data": "createdOn", "name": "CreatedOn", "autoWidth": true,
                    "render": function (data) {
                        var date = new Date(data);
                        var month = date.getMonth() + 1;
                        return (month.toString().length > 1 ? month : "0" + month) + "/" + date.getDate() + "/" + date.getFullYear();
                    }
                },

            ],

        });
    });
</script>
